{% extends 'blog/base.html' %}
{% block content %}
    {% load static %}
    <style type="text/css">

        a {
            text-decoration: none;
        }

    </style>

    {% for article in context.1 %}
        <section class="section brd-btm">
            <div class="row">
                <div class="col-sm-12 clear-mrg text-box">

                    <h2 class="title-lg text-upper">
                        <a href="/article/{{ article.id }}">
                            {{ article.文章标题 }}
                        </a>
                    </h2>

                    <p>{{ article.发布时间 }}<br>
                        <a href="/article/{{ article.id }}">
                            {{ article.文章摘要 }}</a></p>
                </div>
            </div>
        </section><!-- .section -->
    {% endfor %}


    <div class="pagination">

        {% if context.3 == 1 %}
            <a class="next page-numbers" href="/articles?page=1"><i
                    class="ace-icon ace-icon-chevron-left"></i></a>
        {% else %}
            <a class="next page-numbers" href="/articles?page={{ context.5 }}"><i
                    class="ace-icon ace-icon-chevron-left"></i></a>
        {% endif %}

        {% for i in context.2 %}
            {% if i == context.3 %}
                <span class="page-numbers current">{{ i }}</span>
            {% elif i == 0 %}
                ...
            {% else %}
                <a class="page-numbers" href="/articles?page={{ i }}">{{ i }}</a>
            {% endif %}

        {% endfor %}

        {% if context.3 == context.4 %}
            <a class="next page-numbers" href="/articles?page={{ context.3 }}"><i
                    class="ace-icon ace-icon-chevron-right"></i></a>
        {% else %}
            <a class="next page-numbers" href="/articles?page={{ context.6 }}"><i
                    class="ace-icon ace-icon-chevron-right"></i></a>
        {% endif %}
    </div><!-- .pagination -->

    </div>

    <!-- END: PAGE CONTENT -->

    </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
    </div><!-- .ace-paper-stock -->

    </div><!-- .ace-container -->
    </div><!-- #ace-content -->

    <div id="ace-sidebar">
        <button id="ace-sidebar-close" class="btn btn-icon btn-light btn-shade">
            <span class="ace-icon ace-icon-close"></span>
        </button>

        <div id="ace-sidebar-inner">


            <!--article id="ace-card" class="ace-card bg-primary">
                <div class="ace-card-inner text-center">
                    <img class="avatar avatar-195" src="{% static 'Blog/img/uploads/my_tmp/195_195.png' %}" width="195"
                         height="195" alt="">
                    <h1>Lu GF</h1>
                    <p class="text-muted">What is dead <br/>maybe never die</p>
                    <ul class="ace-social clear-list">
                        <li><a><span class="ace-icon ace-icon-qq"></span></a></li>
                        <li><a><span class="ace-icon ace-icon-wechat"></span></a></li>
                        <li><a><span class="ace-icon ace-icon-weibo"></span></a></li>
                        <li><a><span class="ace-icon ace-icon-facebook"></span></a></li>
                        <li><a><span class="ace-icon ace-icon-twitter"></span></a></li>
                    </ul>
                </div>
            </article--><!-- #ace-card -->


            <aside class="widget-area">
                <section class="widget widget_search">

                    <form role="search" method="get" class="search-form" action="/search/">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search" value="" name="keyword">
                        </label>
                        <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                            <span class="ace-icon ace-icon-search"></span>
                        </button>
                    </form>

                </section>

                <section class="widget widget_categories">
                    <h4 class="widget-title">文章 分类</h4>
                    <ul>
                        {% for k,v in context.0.items %}
                            <li class="cat-item">
                                <a href="/search/?keyword={{ k }}">{{ k }}
                            </a>{{ v }}</li>
                        {% endfor %}

                    </ul>
                </section>
            </aside>

        </div><!-- #ace-sidebar-inner -->
    </div><!-- #ace-sidebar -->

{% endblock %}